<div id="app" class="">	
	<div class="row">
		<div class="col-sm-3">
			<h3>Hoje (<?= date("d/m/Y") ?>)</h3>
		</div>
		<div class="col-sm-3">
			<fieldset>
				<label>Empresa</label>
				<select id="company_id" name="company_id" class="form-control custom-select">
					<?php 
					    if(count($companies) > 0):
					    	echo count($companies) > 1 ? '<option value="">Selecione a Empresa</option>' : '';
							foreach($companies as $key => $value): 
					?>
							<option value="<?= $key ?>" <?php echo $key == $company_id ? "selected" : ""; ?> ><?= $value ?></option>
					<?php 
							endforeach;
						else:
							echo '<option value="">Selecione a Empresa</option>';
						endif;
				    ?>
				</select>
			</fieldset>
		</div>
		<div class="col-sm-3">
			<fieldset>
				<label>Unidade</label>
				<select id="unit_id" name="unit_id" class="form-control custom-select"
				v-model="selectedOption">
					<?php 
					    if(count($units) > 0):
					    	echo count($units) > 1 ? '<option value="">Selecione a Unidade</option>' : '';
							foreach($units as $key => $value): 
					?>
							<option value="<?= $key ?>" <?php echo $key == $unit_id ? "selected" : ""; ?> ><?= $value ?></option>
					<?php 
							endforeach;
						else:
							echo '<option value="">Selecione a Unidade</option>';
						endif;
				    ?>
				</select>
			</fieldset>
			
		</div>	
		<div class="col-sm-3">			
			<button id="btnNext" type="button" data-toggle="modal" href="#modal_card" class="btnNext btn btn-primary" style="width: 100%; height: 60px; font-size: 20px;" >
				<i class="fas fa-arrow-circle-right"></i> Adicionar Comanda				
			</button>
		</div>
	</div>

	<div id="list_cards" class="" style="margin-top: 40px;">	
		<!-- <div class="col-sm-2" style="border: solid 1px #d6d6d6;">
			<p align="center" style="font-size: 20px; font-style: bold;">001</p>
			<p align="right">R$ 0,00</p>
			<p align="right">Tempo: 00h02m</p>
			<p align="right">Atendente</p>
		</div> -->		
	</div>

	<!-- modal -->
	<div class="control-popup modal fade" id="modal_card" tabindex="-1" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Adicionar nova comanda</h4>
	            </div>
	            <div class="modal-body">
	                <div class="row">
	                	<div class="col-sm-12">
	                		<label>Identificação</label>
	                		<input type="text" name="card" id="card" class="form-control" required="true" placeholder="Deixe vazio para código automatico">
	                		<span class="help-text">Informe o número da mesa ou alguma identificação. Exemplo: 10</span>
	                	</div>
	                </div>
	            </div>
	            <div class="modal-footer" style="margin-top:40px">
	                <button id="btnCloseCard" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	                <button id="addCard" type="button" class="btn btn-primary">Adicionar</button>
	            </div>
	        </div>
	    </div>
	</div>	
	<!-- /modal -->
</div>

<script type="text/javascript">
var url = "<?= url('/') ?>";

var Card = {
	init: function(){
		var self = this;

		moment.locale("pt-br");

		$('#unit_id').on('change',function(){
		    window.location.href = url+'/backend/devfood/orders/orders/cards/'+$("#company_id").val()+'/'+$("#unit_id").val();
		});

		$('#addCard').on('click',function(){
		    self.addCard('');
		});

		if($("#unit_id").val()){
			self.loadData();
		}

	},
	loadData: function(){	
		var self = this;

		$.request('onLoadCard', {
			data: { 										
				unit_id: $("#unit_id").val(),				
			},
			dataType: 'json',
			success: function(json) {	
				if(json.hasOwnProperty('result')){
					if(json.result == true){
						var div = '';

						if(json.button == false){
							$("#btnNext").remove();
						}

						$.each(json.data, function(key, obj){

							if(obj.hasOwnProperty('id')){								
								div += self.getDiv(json, obj);
							}else{								
								if(Object.keys(obj.data).length > 0){										
									div += self.getDiv(json, obj.data[0]);
								}else{									
									div += `<a href="javascript:Card.addCardConfirm('`+obj.card+`');" style="text-decoration: none; color: #000;">
										<div class="col-sm-4">
										<div class="card">
						                    <div class="body">
						                        <div class="wid-u-info text-center">
						                            <h5>`+obj.card+` <span style="font-size: 12px;" class="badge badge-warning">ABRIR MESA</span></h5>						                            
						                        </div>
						                        <hr>
						                        <div class="row">
						                            <div class="col-sm-4">
						                                <h6 class="m-b-0">00:00:00</h6>
						                                <small>Tempo</small>
						                            </div>
						                            <div class="col-sm-4">
						                                <h6 class="m-b-0">---</h6>
						                                <small>Garçom</small>
						                            </div>
						                            <div class="col-sm-4">
						                                <h6 class="m-b-0">R$ 0,00</h6>
						                                <small>Valor Total</small>
						                            </div>
						                        </div>
						                    </div>
						                </div>
						                </div>
						                </a>`;
								}								
							}
							
						});

						$("#list_cards").html(div);
					}else{
						$.oc.flashMsg({
						    'text': json.message,
						    'class': 'error',
						    'interval': 5
						});
					}
				}

			    $.oc.stripeLoadIndicator.hide();
			}
		});
	},
	getDiv: function(json, obj){

		return `<a href="`+url+`/backend/devfood/orders/orders/card_item/`+obj.id+`" 
					style="text-decoration: none; color: #000;">
				<div class="col-sm-4">
				<div class="card">
                    <div class="body">
                        <div class="wid-u-info text-center">
                            <h5>`+obj.card+`</h5>					                            
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="m-b-0">`+(moment.utc(moment(json.date_now).diff(moment(obj.created_at))).format("HH:mm:ss"))+`</h6>
                                <small>Tempo</small>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="m-b-0">`+(obj.waiter_id ? obj.waiter.first_name : '')+`</h6>
                                <small>Garçom</small>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="m-b-0">R$ `+((obj.price_total.toFixed(2)).toLocaleString('pt-BR'))+`</h6>
                                <small>Valor Total</small>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </a>`;
	},
	addCardConfirm: function(cardId){
		var self = this;
		$.confirm({
		    title: 'Deseja realmente abrir a mesa?',
		    content: 'Confirme a abertura da mesa',
		    buttons: {
		        confirmar: function () {
		        	self.addCard(cardId);
		        },
		        cancelar: function () {
		            //$.alert('Canceled!');
		        },		        
		    }
		});
	},
	addCard: function(cardId){
		var cardId = cardId != '' ? cardId : $("#card").val();

		if($("#company_id").val() == '' || $("#unit_id").val() == ''){
			$.oc.flashMsg({
			    'text': 'Informe a Empresa e a Unidade',
			    'class': 'error',
			    'interval': 5
			});
			return false;
		}
		$.oc.stripeLoadIndicator.show();

		$.request('onAddCard', {
			data: { 						
				company_id: $("#company_id").val(),
				unit_id: $("#unit_id").val(),
				card: cardId,
			},
			dataType: 'json',
			success: function(json) {	
				if(json.hasOwnProperty('result')){
					if(json.result == true){
						$.oc.flashMsg({
						    'text': 'Adicionado com sucesso',
						    'class': 'success',
						    'interval': 5
						});								
						$("#btnCloseCard").trigger('click');

						window.location.href = url+'/backend/devfood/orders/orders/card_item/'+json.data.id;
					}else{
						$.oc.flashMsg({
						    'text': json.message,
						    'class': 'error',
						    'interval': 5
						});
					}
				}

			    $.oc.stripeLoadIndicator.hide();
			}
		});
	}
};

$(function(){
	Card.init();
})
</script>