<div id="app" class="">
	<!-- order open? -->
	<div class="row">
		<div class="col-sm-12" align="right">
			<?php if($order->delivery){ ?>
				<a href="<?= url('/').'/backend/devfood/orders/orders/delivery/'.$order->company_id.'/'.$order->unit_id ?>" class="btn btn-default"><i class="fas fa-arrow-left"></i> Voltar</a>
			<?php }else{ ?>
				<a href="<?= url('/').'/backend/devfood/orders/orders/cards/'.$order->company_id.'/'.$order->unit_id ?>" class="btn btn-default"><i class="fas fa-arrow-left"></i> Voltar</a>
			<?php } ?>
		</div>
	</div>
	<div class="row">
		<?php if(in_array($order->status_id, [1,4,5])){ ?>
		<div class="col-sm-4">
					
			<div class="row">
				<div class="col-sm-12">
					<input type="hidden" name="order_id" id="order_id" value="<?= $order->id ?>">
					<input type="text" name="filter" id="filter" class="form-control" placeholder="Informe ID, referência ou nome">
				</div>
			</div>

			<div class="row" style="margin-top: 10px;">
				<div class="col-sm-7">
					<input type="text" name="observation" id="observation" class="form-control" placeholder="Observação">
				</div>

				<div class="col-sm-3">
					<input type="text" name="amount" id="amount" class="form-control" placeholder="Qtd">
				</div>

				<div class="col-sm-2">
					<button id="btnAdd" type="button" class="btn btn-primary" ><i class="fas fa-plus"></i></button>
				</div>
			</div>

			<!-- button -->
			<div class="col-sm-12" align="left" style="margin-top: 10px; margin-bottom: 10px;">
				<button type="button" class="btn btn-primary btn-back" style="display: none;"><i class="fas fa-arrow-left"></i></button> <span id="label-text"></span>
			</div>
			<!-- card -->
			<div class="">
				<div class="card">
					<?php					
						foreach($categories as $key => $value){						
					?>
						<div 
							data-key="<?= str_replace(' ', '_', $key) ?>" 
							data-name="<?= $key ?>" 
							data-additionals='<?= json_encode($value["additionals"]) ?>' 
							data-exceptions='<?= json_encode($value["exceptions"]) ?>' 
							class="body m-b-10 widget-user category bg-gray">
		                    <?php if($value['icon']){ ?><img class="img-fluid" src="<?= $value['icon'] ?>"><?php } ?>
		                    <div class="wid-u-info">
		                        <h5><?= $key ?></h5>
		                    </div>
		                </div>
		                <!-- load category sub -->
		                <?php
							foreach($value['data'] as $d){						
						?>
							<div
								data-name="<?= $d->name ?>" 
								data-id="<?= $d->id ?>"
								data-price="<?= $d->price ?>" 
								data-gifts='<?= json_encode($d->gifts) ?>' 
								data-gift="<?= $d->has_gift ?>"
								data-amount-gift="<?= $d->amount_gift ?>"
								data-flavor="<?= $d->has_flavor ?>"
								data-amount-flavor="<?= $d->amount_flavor ?>" 
								data-additionals='<?= json_encode($value["additionals"]) ?>' 
								data-exceptions='<?= json_encode($value["exceptions"]) ?>' 
								class="project_widget category-data bg-gray <?= str_replace(' ', '_', $key) ?>"
								style="display: none; margin-bottom: 10px;" align="center">                    
							    <div class="body">
							        <div class="row pw_content">
							            <div class="col-12 pw_header">
							                <h6><?= $d->name ?></h6>
							                <small class="text-muted">Código: <b><?= $d->custom_id ?></b></small>
							            </div>
							            <div class="col-8 pw_meta">
							                <span>R$ <?= number_format($d->price, 2, ',', '.') ?></span>                                
							            </div>					            
							        </div>
							    </div>
							</div>				
						<?php
							}
						?>
						<!-- /load category sub -->
						<?php
							foreach($d->flavors as $flavor){					
						?>
							<div
								data-id="<?= $flavor->product_children->id ?>"
								data-name="<?= $flavor->product_children->name ?>"
								data-price="<?= ($flavor->price ?? $flavor->product_children->price) ?>" 
								class="project_widget category-flavor bg-gray flavor_<?= $d->id ?>"
								style="display: none; margin-bottom: 10px;" align="center">                    
							    <div class="body">
							        <div class="row pw_content">
							            <div class="col-12 pw_header">
							                <h6><?= $flavor->product_children->name ?></h6>
							                <small class="text-muted">Código: <b><?= $flavor->product_children->custom_id ?></b></small>
							            </div>
							            <div class="col-8 pw_meta">
							                <span>R$ <?= number_format( ($flavor->price ?? $flavor->product_children->price), 2, ',', '.') ?></span>                                
							            </div>					            
							        </div>
							    </div>
							</div>
						<?php
							}
						?>
						<!-- /flavors -->
					<?php
						}
					?>
				</div>
			</div>
			<!-- /card -->
			
		</div>
		<?php } ?>
		<!-- /bar -->
		<div class="<?php if(in_array($order->status_id, [1,4,5])){ ?>col-sm-8<?php }else{ ?>col-sm-12<?php } ?>">
			<div class="card" id="details">
			    <div class="body">                                
			        <div id="result-items" class="result">
				        <div class="row">
				            <div class="col-md-6 col-sm-6">	
				            <?php
				            	if($order->observation){
				            		echo '<p><b>Observação:</b><br>'.$order->observation.'</p>';
				            	}

				            	if($order->delivery && $order->price_change){
				            		echo '<p><b>Enviar troco para:</b><br>R$ '.$order->price_change.'</p>';
				            	}
				            ?>	                
				            </div>
				            <div class="col-md-6 col-sm-6 text-right">
				            	<p class="m-b-0"><strong>ID: </strong> <?= $order->card ?></p>
				                <p class="m-b-0"><strong>Aberto: </strong> <?= $order->created_at->format('d/m/Y') ?> as <?= $order->created_at->format('H:i') ?></p>
				                <p class="m-b-0"><strong>Status: </strong> <span class="badge badge-<?= $order->status->html_class ?> m-b-0"><?= $order->status->name ?></span></p>		                
				            </div>
				        </div>
				        <div class="mt-40"></div>
				        	<div class="row">
					            <div class="col-md-12">
					                <div class="table-responsive">
					                    <table class="table table-hover">
					                        <thead>
					                            <tr>
					                                <th width="10%">#</th>                                                        
					                                <th width="60%">Item</th>                               
					                                <th width="25%">Quantity</th>		                                
					                                <th width="15%" align="right">Total</th>
					                                <th></th>
					                            </tr>
					                        </thead>
					                        <tbody>
					                            <?php foreach($order->items as $item){ ?>
					                            	<tr>
					                            		<td><?= $item->product->custom_id ?></td>
					                            		<td>
					                            			<b><?= $item->product->name ?></b>
					                            			<?php 		
			                            						if($item->getAdditional()){
			                            							echo '<br>&nbsp; <i>Adicional Pedido Todo</i> ';
			                            							foreach($item->getAdditional() as $a){
			                            								echo '<br>&nbsp;&nbsp;&nbsp;-> '.$a;
			                            							}				
			                            						} 

			                            						if($item->getException()){
			                            							echo '<br>&nbsp; <i>Exceções Pedido Todo</i> ';
			                            							foreach($item->getException() as $a){
			                            								echo '<br>&nbsp;&nbsp;&nbsp;-> '.$a;
			                            							}				
			                            						} 
			                            					?>
					                            			<?php 
					                            				if($item->has_flavor){
					                            					foreach($item->flavors as $flavor){ 
					                            			?>
					                            					<br>&nbsp;&nbsp;-<b><?= $flavor->product->name ?></b>
					                            					<?php 		
					                            						if($flavor->getAdditional()){
					                            							echo '<br>&nbsp;&nbsp;&nbsp; <i>Adicionais</i>';
					                            							foreach($flavor->getAdditional() as $a){
					                            								echo '<br>&nbsp;&nbsp;&nbsp;&nbsp;-> '.$a;
					                            							}				
					                            						} 

					                            						if($flavor->getExcpetion()){
					                            							echo '<br>&nbsp;&nbsp;&nbsp; <i>Exceções</i>';
					                            							foreach($flavor->getExcpetion() as $a){
					                            								echo '<br>&nbsp;&nbsp;&nbsp;&nbsp;-> '.$a;
					                            							}				
					                            						} 
					                            					?>
					                            			<?php
					                            					} 
					                            				} 
					                            			?>
					                            			<?php if($item->observation){
					                            					echo '<br><i>Observação: </i>'.$item->observation;
					                            				} 
					                            			?>	
					                            		</td>
					                            		<td><?= $item->amount ?></td>
					                            		<td><?= number_format($item->price, 2, ',', '.') ?></td>
					                            		<td><button type="button" data-id="<?= $item->id ?>" class="btnDelete btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></button></td>
					                            	</tr>
					                            <?php } ?>
					                        </tbody>
					                    </table>
					                </div>
					            </div>
					        </div>
					        <hr>
					        <div class="row">
					            <div class="col-md-6">
					                
					            </div>
					            <div class="col-md-6 text-right">
					                <p class="m-b-0">Sub-total: <b>R$ <?= number_format($order->price_total, 2, ',', '.') ?></b></p>
					                <?php if(!$order->delivery_id  && $order->getTaxWaiter()){ ?>
					                <p class="m-b-0">Taxa Garçom: <b><?= $order->getTaxWaiter() ?></b></p>
					                <?php } ?>

					                <?php if($order->delivery_id  && $order->price_delivery){ ?>
					                <p class="m-b-0">Taxa Entrega: <b><?= $order->price_delivery ?></b></p>
					                <?php } ?>

					                <!-- <p class="m-b-0">Taxa Garçom: <b>10%</b></p> -->
					                <h3 class="m-b-0 m-t-10">R$ <?= number_format(($order->price_total + $order->price_delivery + $order->getPriceWaiter()), 2, ',', '.') ?></h3>
					            </div>                                    
					            <div class="hidden-print col-md-12 text-right">
					                <hr>	
					                <?php if($order->delivery){ ?>
					                	<?php if($order->status_id == 1){ ?>
					                	<button data-id="4" data-name="Preparando" class="btn btnCheck btn-orange btn-round">	
					                		<i class="fas fa-utensils"></i> Marcar como Preparando
					               		</button>
					               		<?php } ?>

					               		<?php if($order->status_id == 4){ ?>
					                	<button data-id="5" data-name="Saiu para Entrega" class="btn btnCheck btn-red btn-round">	
					                		<i class="fas fa-truck"></i> Saiu para Entrega
					               		</button>
					               		<?php } ?>
					                <?php } ?>	

					                	<?php if($order->status_id != 2 && $order->status_id != 3){ ?>
							                <button onclick="$('#modal_close').modal('show')" 
							                	class="btn btn-primary btn-round">	
							                	<i class="fas fa-money-bill-alt"></i> Fechar Pedido
							                </button>
							            <?php } ?>
					                
					            </div>
					        </div>
				        </div>                                
			    </div>
			</div>
		</div>
	</div>

	<!-- modal -->
	<div class="control-popup modal fade" id="modal_card" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Incrementar Pedido</h4>
	            </div>
	            <div class="modal-body">
	                <div class="row">
	                	<div class="list-additionals col-sm-6" style="margin-bottom: 20px;">
	                		<div class="row">
	                			<div class="col-sm-12">
	                				<button id="showAdditionals" type="button" class="btn btn-primary" style="width: 100%; height: 50px;">Adicionais</button>
	                			</div>
	                		</div>

	                		<div class="row">
	                			
	                		</div>

	                		<div class="list_extras list_additionals row">
	                		</div>
	                	</div>

	                	<div class="list-exceptions col-sm-6">
	                		<div class="row">
	                			<div class="col-sm-12">
	                				<button id="showExceptions" type="button" class="btn btn-default" style="width: 100%; height: 50px;">Exceções</button>
	                			</div>
	                		</div>

	                		<div class="list_extras list_exceptions row">
	                		</div>	                		
	                	</div>
	                </div>
	            </div>
	            <div class="modal-footer" style="margin-top:40px">	                
	                <button onclick="CardItem.addProduct();" type="button" class="btn btn-primary">Adicionar Item</button>
	            </div>
	        </div>
	    </div>
	</div>	
	<!-- /modal -->

	<div class="control-popup modal fade" id="modal_close" tabindex="-1" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Fechar Pedido</h4>
	            </div>
	            <div class="modal-body">
	            	<div class="row">
	                	<div class="col-sm-12">
	                		<label>Status do Pedido</label>
	                		<select id="status_id" name="status_id" class="form-control custom-select">
	                			<option value="">----</option>
	                			<?php foreach($status as $s){ ?>
	                			<option value="<?= $s->id ?>" <?= $s->id == $order->status_id ? "selected" : "" ?> ><?= $s->name ?></option>
	                			<?php } ?>
	                		</select>
	                	</div>
	                </div>	            	
	            	<div class="row">
	                	<div class="col-sm-12">
	                		<label>Forma de Pagamento</label>
	                		<select id="method_payment" name="method_payment" class="form-control">
	                			<option value="">----</option>
	                			<?php foreach($payments as $payment){ ?>
	                			<option value="<?= $payment->id ?>" <?= $payment->id == $order->payment_id ? "selected" : "" ?> ><?= $payment->name ?></option>
	                			<?php } ?>
	                		</select>
	                	</div>
	                </div>
	                <div class="row" style="margin-top: 10px;">
	                	<div class="col-sm-12">
	                		<label>R$ Valor Pago</label>
	                		<input type="text" name="payment_price" id="payment_price" value="<?= $order->price_change ?>" class="form-control">
	                	</div>
	                </div>
	                
	                <?php if($order->getTaxWaiter()){ ?>
	                	<div class="row" style="margin-top: 10px;">
		                	<div class="col-sm-4">
		                		<label>Cobrar a taxa do Garçom?</label>
		                		<select id="tax_waiter" name="tax_waiter" class="form-control">
		                			<option value="1">Sim</option>
		                			<option value="0">Não</option>
		                		</select>
		                	</div>
		                </div>
	                <?php } ?>

	                <div class="row" style="margin-top: 10px;">
	                	<div class="col-sm-12 text-right">
	                		<p class="m-b-0"><b>Total</b></p>
			                <?php if($order->getTaxWaiter()){ ?>
			                <p class="m-b-0">Taxa Garçom: <b><?= $order->getTaxWaiter() ?></b></p>
			                <?php } ?>
			                <!-- <p class="m-b-0">Taxa Garçom: <b>10%</b></p> -->
			                <h3 id="order_total" data-price="<?= ($order->price_total + $order->getPriceWaiter()) ?>" class="m-b-0 m-t-10">R$ <?= number_format(($order->price_total + $order->getPriceWaiter()), 2, ',', '.') ?></h3>
			                <p class="m-b-0"><b>Troco</b></p>
			                <h3 class="m-b-0 m-t-10" style="color: #066f32;" id="payment_change">
			                	R$ 0,00
			                </h3>
	                	</div>
	                </div>
	            </div>
	            <div class="modal-footer" style="margin-top:40px">	                
	                <button onclick="CardItem.closeOrder();" type="button" class="btn btn-primary">Fechar</button>
	            </div>
	        </div>
	    </div>
	</div>	
	<!-- /modal -->

</div>

<script type="text/javascript">
var url = "<?= url('/') ?>";

String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
};

Array.prototype.remove = function() {
    var what, a = arguments, L = a.length, ax;
    while (L && this.length) {
        what = a[--L];
        while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
        }
    }
    return this;
};

var CardItem = {
	labelText : [],
	product: {},
	lists: {},
	init: function(){
		var self = this;

		$('#payment_price').mask("##0.00", {reverse: true});

		$("#payment_price").on("keyup", function(){
			var total = parseFloat($("#order_total").attr('data-price'));
			var price = parseFloat($(this).val());

			if(price > 0){
				
				var text = $.number( (price-total), 2, ',' )
				$("#payment_change").html('R$ '+text);				
			}else{
				$("#payment_change").html('R$ 0,00');
			}
		});

		$(".btnCheck").on("click", function(){
			self.checkOrder($(this));
		});

		$(".btnDelete").on("click", function(){
			self.deleteItem($(this).attr('data-id'));
		});

		// category main
		$(".category").on("click", function(){
			$(".category-data").hide();
			$(".category").hide();
			$(".btn-back").show();
			$("."+$(this).attr('data-key')).show();
			self.labelText.push($(this).attr('data-name'));
			$("#label-text").html(self.labelText.join(' > '));

			self.lists['list_additionals'] = JSON.parse($(this).attr('data-additionals'));
			self.lists['list_exceptions'] = JSON.parse($(this).attr('data-exceptions'));
			self.product['additionals'] = [];
			self.product['exceptions'] = [];
		});

		// products category 
		$(".category-data").on("click", function(){			
			$(".btn-back").show();	

			$(".category-data").removeClass('bg-green');				

			self.product['product_id'] = $(this).attr('data-id');
			self.product['product_name'] = $(this).attr('data-name');
			self.product['price'] = $(this).attr('data-price');
			self.product['has_gift'] = parseInt($(this).attr('data-gift'));
			self.product['amount_gift'] = $(this).attr('data-amount-gift');
			self.product['has_flavor'] = parseInt($(this).attr('data-flavor'));
			self.product['amount_flavor'] = $(this).attr('data-amount-flavor');
			self.lists['list_gifts'] = JSON.parse($(this).attr('data-gifts'));			
			self.lists['list_additionals'] = JSON.parse($(this).attr('data-additionals'));
			self.lists['list_exceptions'] = JSON.parse($(this).attr('data-exceptions'));

			if(parseInt(self.product.has_flavor)){
				$(".category-data").hide();	
				self.labelText.push($(this).attr('data-name'));
				$("#label-text").html(self.labelText.join(' > '));
				$(".flavor_"+$(this).attr('data-id')).show();
			}else{			
				if($(this).hasClass('bg-green')){
					$(this).removeClass('bg-green').addClass('bg-gray');
					self.product['product_id'] = '';
					self.product['price'] = '';
				}else{		
					$(".category-data").removeClass('bg-green');			
					$(this).removeClass('bg-gray').addClass('bg-green');
				}
			}
		});

		$("#btnAdd").on("click", function(){
			console.log(self.product);
			if(Object.keys(self.product).length == 0){
				$.oc.flashMsg({
				    'text': 'Ops, é necessário adicionar algum produto antes!',
				    'class': 'error',
				    'interval': 5
				});

				return false;
			}

			if(parseInt(self.product.has_flavor) == 1 && (!self.product.hasOwnProperty('flavors') || self.product.flavors.length == 0) ){
				$.oc.flashMsg({
				    'text': 'Ops, o produto selecionado é do tipo "Combinado" é necessário informar pelo menos um sabor',
				    'class': 'error',
				    'interval': 5
				});

				return false;
			}

			if(self.lists.list_additionals.length > 0 || self.lists.list_exceptions.length > 0){
				$('#modal_card').modal('show');
				self.loadExtras();
				return false;	
			}
			
			// adding product
			self.addProduct();
		});

		// products flavors 
		$(".category-flavor").on("click", function(){
			
			if(!self.product.hasOwnProperty('flavors')){
				self.product['flavors'] = [];
			}			

			//removed			
			if($(this).hasClass('bg-green')){
				$(this).removeClass('bg-green').addClass('bg-gray');
				var id = $(this).attr('data-id');
				$.each(self.product.flavors, function(key, obj){					
					if(obj.id == id){
						self.product.flavors.splice(key, 1);
					}
				});
			}else{

				if(self.product.has_flavor && parseInt(self.product.amount_flavor) == self.product.flavors.length){
					$.oc.flashMsg({
					    'text': 'Atingiu o limite de sabores neste produto',
					    'class': 'error',
					    'interval': 5
					});
					return false;
				}

				//add
				$(this).removeClass('bg-gray').addClass('bg-green');
				self.product.flavors.push({
					id: $(this).attr('data-id'), 
					price: $(this).attr('data-price'),
					name: $(this).attr('data-name')
				});
			}					
		});

		$(".btn-back").on("click", function(){
			self.btnBack();
		});

		$("#filter").on('keyup', function(){
		  	
			if($(this).val() == ''){
				$('.category-data').hide();	
			}

			var txt = $(this).val();
			$('.category-data').each(function(){				

				if(txt != ''){
					$('.category').hide();
				}else{
					$('.category').show();
				}

				$(this).hide();

				if($(this).attr('data-id') == txt || 
					($(this).attr('data-name').toUpperCase().match(txt.toUpperCase()) && txt.toUpperCase() != '' )
				){					
					$(this).show();
				}
			});

		});

	},
	
	loadExtras: function(){
		var self = this;
		$(".list-additionals").hide();
		$(".list-exceptions").hide();
		$(".list_extras").hide();

		$("#showAdditionals").on("click", function(){
			// $(".list_extras").hide();
			$(".list_additionals").show();
		});

		$("#showExceptions").on("click", function(){
			// $(".list_extras").hide();
			$(".list_exceptions").show();
		});

		// show button for selected 		

		if(self.lists.list_additionals.length > 0){
			$(".list-additionals").show();
			var div = '';

			var index = 0;
			$.each(self.lists.list_additionals, function(key, obj){
				div += '<div class="col-sm-12" style="margin-top: '+(index == 0 ? '10px' : '-30px')+';">';
				div += '<div class="row">';
				div += '<div class="col-sm-12">';
				div += '<div class="card">';
				div += '<div '+
					   'data-id="'+obj.id+'" '+
					   'data-name="'+obj.name+'"'+
					   'data-price_full="'+obj.price_full+'"'+
					   'data-price_half="'+obj.price_half+'"'+
					   'data-limit="'+obj.limit+'"'+
					   'class="body m-b-10 widget-user btn-additionals bg-gray">'+
	                   '<div class="">'+
	                   '<span><b>'+obj.name+'</b></span>'+
	                   '<selected style="font-size:12px;"></selected>'+
	                   '</div>'+
	                   '</div>';
	            div += '</div>';
				div += '</div>';
				// div += '<div class="col-sm-4">';
				// div += '<label>Quantidade</label>';
				// div += '<input type="text" id="add_'+obj.id+'" value="1" class="form-control">';
				// div += '</div>';
				div += '</div>';
				div += '</div>';

				index++;
			});

			$(".list_additionals").html(div);
		}

		if(self.lists.list_exceptions.length > 0){
			$(".list-exceptions").show();			
			var div = '';

			var index = 0;
			$.each(self.lists.list_exceptions, function(key, obj){
				div += '<div class="col-sm-12" style="margin-top: '+(index == 0 ? '10px' : '-30px')+';">';
				div += '<div class="row">';
				div += '<div class="col-sm-12">';
				div += '<div class="card">';
				div += '<div '+
					   'data-id="'+obj.id+'" '+
					   'data-name="'+obj.name+'"'+					   					   
					   'class="body m-b-10 widget-user btn-exceptions bg-gray">'+
	                   '<div class="">'+
	                   '<span><b>'+obj.name+'</b></span>'+
	                   '<selected style="font-size:12px;"></selected>'+
	                   '</div>'+
	                   '</div>';
	            div += '</div>';
				div += '</div>';
				// div += '<div class="col-sm-4">';
				// div += '<label>Quantidade</label>';
				// div += '<input type="text" id="add_'+obj.id+'" value="1" class="form-control">';
				// div += '</div>';
				div += '</div>';
				div += '</div>';

				index++;
			});

			$(".list_exceptions").html(div);
		}

		setTimeout(function(){
			$(".btn-additionals").on("click", function(){
				var idAdd = $(this).attr('data-id');			
				if($(this).hasClass('bg-green')){				
					$.each(self.product.additionals, function(key, value){
						if(value.id == idAdd){
							self.product.additionals.splice(key, 1);
						}
					});
				}else{
					$(this).addClass('bg-green');
					var $elItem = $(this);
					// check if item is combined
					if(self.product.has_flavor && parseFloat($elItem.attr('data-price_half')) > 0 ){
						self.confirmFlavor($elItem);
					}else{	
						self.confirmItem($elItem);									
					}				
				}
			});

			$(".btn-exceptions").on("click", function(){
				var idAdd = $(this).attr('data-id');			
				if($(this).hasClass('bg-green')){				
					$.each(self.product.exceptions, function(key, value){
						if(value.id == idAdd){
							self.product.exceptions.splice(key, 1);
						}
					});
				}else{
					$(this).addClass('bg-green');
					var $elItem = $(this);
					// check if item is combined
					if(self.product.has_flavor){
						self.confirmFlavorExcpetion($elItem);
					}else{							
						self.product.exceptions.push({ 
							id: $elItem.attr('data-id'), 
							name: $elItem.attr('data-name'),
							product_id: self.product.product_id,							
							amount: 1 
						});

						$elItem.find('selected').html('<br>Selecionado para: '+self.product.product_name);
					}				
				}
			});
		},1000);
	},

	confirmItem: function($elItem){
		var self = this;

		$.confirm({
		    title: 'Obaa!',
		    // columnClass: 'col-md-6 col-md-offset-3',
		    content: '' +
		    '<form action="" class="formName">' +
		    '<div class="form-group">' +
		    '<label>Informe a quantidade desse adicional</label>' +
		    '<input type="text" placeholder="Quantidade" value="1" class="amount form-control" required />' +
		    '</div>' +
		    '</form>',
		    buttons: {
		    	text: 'ADICIONAR',
				btnClass: 'btn-blue',
				action: function () {					
		        	var amount = this.$content.find('.amount').val();
		                if(!amount){
		                    $.alert('Informe a quantidade');
		                    return false;
		                }

		                self.product.additionals.push({ 
							id: $elItem.attr('data-id'), 
							name: $elItem.attr('data-name'),
							product_id: self.product.product_id, 
							amount: amount 
						});

		                $elItem.find('selected').html('<br>Selecionado para: '+self.product.product_name);
						$("#modal_card").modal("show");
		        }
		    },
		    onContentReady: function () {
		        var jc = this;
		        this.$content.find('form').on('submit', function (e) {
		            e.preventDefault();
		            jc.$$formSubmit.trigger('click');
		        });
		    }
		});	
	},

	confirmFlavorExcpetion: function($elItem){
		var self = this;		

		var buttons = [];
		var colors = ['orange', 'green', 'purple', 'dark', 'red'];
		var func = function () {					
		        		self.product.exceptions.push({ 
							id: $elItem.attr('data-id'), 
							name: $elItem.attr('data-name'),
							product_id: self.product.product_id,							
							amount: 1 
						});

		                $elItem.find('selected').html('<br>Selecionado para: '+self.product.product_name);
		        };
		
		buttons.push({
			text: 'PEDIDO TODO',
			btnClass: 'btn-blue',
			action: func
		});

		console.log(buttons);

		$.each(self.product.flavors, function(k, v){
			buttons.push({
				text: v.name,
				btnClass: ('btn-'+colors[k]),
				action: function () {					
		                self.product.exceptions.push({ 
							id: $elItem.attr('data-id'), 
							name: $elItem.attr('data-name'),							
							product_id: v.id, 
							amount: 1 
						});

		                $elItem.find('selected').html('<br>Selecionado para: '+v.name);						
		        }
			});
		});

		$.confirm({
		    title: 'Obaa!',
		    // columnClass: 'col-md-6 col-md-offset-3',
		    content: 'Informe qual o as partes que serão adicionados a exceções',
		    buttons: buttons		    
		});
	},

	confirmFlavor: function($elItem){
		var self = this;

		$("#modal_card").modal("hide");

		var buttons = [];
		var colors = ['orange', 'green', 'purple', 'dark', 'red'];
		var func = function () {					
		        	var amount = this.$content.find('.amount').val();
		                if(!amount){
		                    $.alert('Informe a quantidade');
		                    return false;
		                }		                

		                if(parseInt(amount) > parseInt($elItem.attr('data-limit')) ){
		                    $.alert('Ops, a quantidade informada atingiu o limite. O máximo desse adicional permitido é: '+$elItem.attr('data-limit'));
		                    return false;
		                }

		                self.product.additionals.push({ 
							id: $elItem.attr('data-id'), 
							name: $elItem.attr('data-name'),
							limit: $elItem.attr('data-limit'),
							product_id: self.product.product_id,
							price: $elItem.attr('data-price_full'), 
							amount: amount 
						});

		                $elItem.find('selected').html('<br>Selecionado para: '+self.product.product_name);
						$("#modal_card").modal("show");
		        };
		
		buttons.push({
			text: 'PEDIDO TODO',
			btnClass: 'btn-blue',
			action: func
		});

		$.each(self.product.flavors, function(k, v){
			buttons.push({
				text: v.name,
				btnClass: ('btn-'+colors[k]),
				action: function () {					
		        	var amount = this.$content.find('.amount').val();
		                if(!amount){
		                    $.alert('Informe a quantidade');
		                    return false;
		                }

		                if(parseInt(amount) > parseInt($elItem.attr('data-limit')) ){
		                    $.alert('Ops, a quantidade informada atingiu o limite. O máximo desse adicional permitido é: '+$elItem.attr('data-limit'));
		                    return false;
		                }

		                self.product.additionals.push({ 
							id: $elItem.attr('data-id'), 
							name: $elItem.attr('data-name'),
							limit: $elItem.attr('data-limit'),
							price: $elItem.attr('data-price_half'),
							product_id: v.id, 
							amount: amount 
						});

		                $elItem.find('selected').html('<br>Selecionado para: '+v.name);
						$("#modal_card").modal("show");
		        }
			});
		});

		$.confirm({
		    title: 'Obaa!',
		    // columnClass: 'col-md-6 col-md-offset-3',
		    content: '' +
		    '<form action="" class="formName">' +
		    '<div class="form-group">' +
		    '<label>Informe a quantidade desse adicional</label>' +
		    '<input type="text" placeholder="Quantidade" value="1" class="amount form-control" required />' +
		    '</div>' +
		    '</form>',
		    buttons: buttons,
		    onContentReady: function () {
		        var jc = this;
		        this.$content.find('form').on('submit', function (e) {
		            e.preventDefault();
		            jc.$$formSubmit.trigger('click');
		        });
		    }
		});
	},

	btnBack: function(){		
		var self = this;

		$(".category-data").hide();	
		$(".category-flavor").hide();		
		$(".btn-back").hide();
		$(".category").show();
		$(".category").removeClass('bg-green').addClass('bg-gray');
		$(".category-flavor").removeClass('bg-green').addClass('bg-gray');
		$(".category-data").removeClass('bg-green').addClass('bg-gray');
		self.labelText = [];
		self.product = {};
		$("#label-text").html('');
	},

	addProduct: function(){
		var self = this;

		$.oc.stripeLoadIndicator.show();

		$.request('onAddProduct', {
			data: { 						
				order_id: $("#order_id").val(),
				amount: $("#amount").val(),
				observation: $("#observation").val(),
				product: self.product
			},
			dataType: 'json',
			update: {orderitems: '#result-items'},
			success: function(json) {	
				if(json.hasOwnProperty('orderitems')){
					$("#result-items").html(json.orderitems);
				}
				$("#modal_card").modal("hide");
				self.btnBack();
			    $.oc.stripeLoadIndicator.hide();
			}
		});
	},

	deleteItem: function(item){	
		var self = this;

		$.confirm({
		    title: 'Deseja deletar este registro?',
		    content: 'Dados deletados não serão possíveis de recuperar.',
		    buttons: {
		        excluir: function () {
		        	$.oc.stripeLoadIndicator.show();

		            $.request('onDeleteItem', {
						data: { 						
							order_id: $("#order_id").val(),
							item_id: item,
						},
						dataType: 'json',
						update: {orderitems: '#result-items'},
						success: function(json) {	
							if(json.hasOwnProperty('orderitems')){
								$("#result-items").html(json.orderitems);
							}

							$(".btnDelete").on("click", function(){
								self.deleteItem($(this).attr('data-id'));
							});

						    $.oc.stripeLoadIndicator.hide();
						}
					});
		        },
		        cancelar: function () {
		            //$.alert('Canceled!');
		        },		        
		    }
		});
	},

	checkOrder: function($el){		
		$.confirm({
		    title: 'Deseja realmente alterar o status do pedido?',
		    content: 'Você está alterando o status desse pedido para: <b>'+$el.attr('data-name')+'</b> o Cliente será notificado.',		    
		    buttons: {
		        confirmar: function () {
		        	
		        	$.oc.stripeLoadIndicator.show();

		            $.request('onCheckOrder', {
						data: { 						
							order_id: $("#order_id").val(),
							status_id: $el.attr('data-id')
						},
						dataType: 'json',
						update: {orderitems: '#result-items'},
						success: function(json) {	
							if(json.hasOwnProperty('orderitems')){
								$("#result-items").html(json.orderitems);
							}
						    $.oc.stripeLoadIndicator.hide();
						}
					});
		        },
		        cancelar: function () {
		            //$.alert('Canceled!');
		        },		        
		    }
		});
	},

	closeOrder: function(){		
		$.confirm({
		    title: 'Deseja realmente fechar este pedido?',
		    content: 'Após fechamento não será possível adicionar mais produtos.',		    
		    buttons: {
		        fechar: function () {
		        	
		        	if($("#status_id").val().indexOf([2,3]) != -1){
		        		if(!$("#method_payment").val()){
			        		$.alert('Informe o tipo de pagamento');
			        		return false;
			        	}

			        	if(!$("#payment_price").val()){
		                    $.alert('Informe o valor pago');
		                    return false;
		                }
		        	}		        	

		        	$.oc.stripeLoadIndicator.show();

		            $.request('onCloseOrder', {
						data: { 						
							order_id: $("#order_id").val(),
							status_id: $("#status_id").val(),
							tax_waiter: parseInt($("#tax_waiter").val()),
							price_change: $("#payment_price").val(),
							payment_id: $("#method_payment").val(),
						},
						dataType: 'json',						
						success: function(json) {								
							if(json.result == true){
								$.oc.flashMsg({
								    'text': 'Adicionado com sucesso',
								    'class': 'success',
								    'interval': 5
								});								
								location.reload();
							}else{
								$.oc.flashMsg({
								    'text': json.message,
								    'class': 'error',
								    'interval': 5
								});
							}
						    $.oc.stripeLoadIndicator.hide();
						}
					});
		        },
		        cancelar: function () {
		            //$.alert('Canceled!');
		        },		        
		    }
		});
	}

}

$(function(){
	CardItem.init();
});

</script>