<div class="row">
    <div class="col-md-6 col-sm-6"> 
    <?php
        if($order->observation){
            echo '<p><b>Observação:</b><br>'.$order->observation.'</p>';
        }

        if($order->delivery && $order->price_change){
            echo '<p><b>Enviar troco para:</b><br>R$ '.$order->price_change.'</p>';
        }
    ?>                  
    </div>
    <div class="col-md-6 col-sm-6 text-right">
        <p class="m-b-0"><strong>ID: </strong> <?= $order->card ?></p>
        <p class="m-b-0"><strong>Aberto: </strong> <?= $order->created_at->format('d/m/Y') ?> as <?= $order->created_at->format('H:i') ?></p>
        <p class="m-b-0"><strong>Status: </strong> <span class="badge badge-<?= $order->status->html_class ?> m-b-0"><?= $order->status->name ?></span></p>                     
    </div>
</div>
<div class="mt-40"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="10%">#</th>                                                        
                            <th width="60%">Item</th>                               
                            <th width="25%">Quantity</th>                                       
                            <th width="15%" align="right">Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($order->items as $item){ ?>
                            <tr>
                                <td><?= $item->product->custom_id ?></td>
                                <td>
                                    <b><?= $item->product->name ?></b>
                                    <?php       
                                        if($item->getAdditional()){
                                            echo '<br>&nbsp; <i>Adicional Pedido Todo</i> ';
                                            foreach($item->getAdditional() as $a){
                                                echo '<br>&nbsp;&nbsp;&nbsp;-> '.$a;
                                            }               
                                        } 
                                    ?>
                                    <?php 
                                        if($item->has_flavor){
                                            foreach($item->flavors as $flavor){ 
                                    ?>
                                            <br>&nbsp;&nbsp;-<b><?= $flavor->product->name ?></b>
                                            <?php       
                                                if($flavor->getAdditional()){
                                                    echo '<br>&nbsp;&nbsp;&nbsp; <i>Adicionais</i>';
                                                    foreach($flavor->getAdditional() as $a){
                                                        echo '<br>&nbsp;&nbsp;&nbsp;&nbsp;-> '.$a;
                                                    }               
                                                } 

                                                if($flavor->getExcpetion()){
                                                    echo '<br>&nbsp;&nbsp;&nbsp; <i>Exceções</i>';
                                                    foreach($flavor->getExcpetion() as $a){
                                                        echo '<br>&nbsp;&nbsp;&nbsp;&nbsp;-> '.$a;
                                                    }               
                                                } 
                                            ?>
                                    <?php
                                            } 
                                        } 
                                    ?>
                                    <?php if($item->observation){
                                                echo '<br><i>Observação: </i>'.$item->observation;
                                            } 
                                        ?>  
                                </td>
                                <td><?= $item->amount ?></td>
                                <td><?= number_format($item->price, 2, ',', '.') ?></td>
                                <td><button type="button" data-id="<?= $item->id ?>" class="btnDelete btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6 text-right">
            <p class="m-b-0">Sub-total: <b>R$ <?= number_format($order->price_total, 2, ',', '.') ?></b></p>
            <?php if($order->getTaxWaiter()){ ?>
            <p class="m-b-0">Taxa Garçom: <b><?= $order->getTaxWaiter() ?></b></p>
            <?php } ?>
            <!-- <p class="m-b-0">Taxa Garçom: <b>10%</b></p> -->
            <h3 class="m-b-0 m-t-10">R$ <?= number_format(($order->price_total + $order->getPriceWaiter()), 2, ',', '.') ?></h3>
        </div>                                    
        <div class="hidden-print col-md-12 text-right">
            <hr>    
            <?php if($order->delivery){ ?>
                <?php if($order->status_id == 1){ ?>
                <button data-id="4" data-name="Preparando" class="btn btnCheck btn-orange btn-round">   
                    <i class="fas fa-utensils"></i> Marcar como Preparando
                </button>
                <?php } ?>

                <?php if($order->status_id == 4){ ?>
                <button data-id="5" data-name="Saiu para Entrega" class="btn btnCheck btn-red btn-round">   
                    <i class="fas fa-truck"></i> Saiu para Entrega
                </button>
                <?php } ?>
            <?php } ?>                                                 
                <button onclick="$('#modal_close').modal('show')" 
                    class="btn btn-primary btn-round">  
                    <i class="fas fa-money-bill-alt"></i> Fechar Pedido
                </button>
            
        </div>
    </div>
</div>