<div id="score">

<div class="scoreboard">
    <div data-control="toolbar">        

        <div class="scoreboard-item title-value">
            <h4>Total de Pedidos</h4>
            <p style="font-weight: bold;" class="<?php echo $records > 0 ? 'success' : ($records == 0 ? '' :'danger'); ?>"><?= $records ?></p>              
        </div>

        <div class="scoreboard-item title-value">
            <h4>R$ Total</h4>
            <p style="font-weight: bold;" class="success"><?php echo isset($total) ? $total : '0,00' ?></p>              
        </div>            

    </div>
</div>


</div>

<?= $this->listRender() ?>

<script>
$(document).ajaxSuccess(
    function(event, xhr, settings){ 
      //updated score    	
      if(typeof settings.context != 'undefined' && settings.context.handler == 'listFilter::onFilterUpdate'){
      	$.request('onRefreshScore', {
		    update: { score: '#score' }
		})
      }
    }
);
</script>
