<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('october/cfe/locaisestoque') ?>">LocaisEstoque</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>