title = "Services"
url = "/services"
layout = "layout"

[pages]
==

{% if pages.pages[0].background is empty and pages.pages[0].bgcolor is not empty %}
    {% set bgcolor = "background-color: " ~ pages.pages[0].bgcolor ~ ";" %}
    {% set background = "" %}
{% elseif pages.pages[0].background is not empty %}
    {% set background = "background-image: url(" ~ pages.pages[0].background.getPath() ~ ");" %}
{% else %}
    {% set bgcolor = "" %}
{% endif %}

{% if pages.pages[0].textcolor is not empty %}
    {% set textcolor = "color: " ~ pages.pages[0].textcolor ~ ";" %}
{% else %}
    {% set textcolor = "" %}
{% endif %}

<div class="container" style="{{ bgcolor ~ textcolor ~ background }}">
    <div class="row our-services">
        <div class="col-sm-12" style="text-align: center;">
            <img src="{{ pages.pages[0].image.getPath() }}" style="width: 150px;height: 150px;border-radius: 50%; margin: 15px">
        </div>
    </div>
    <div class="row our-services">
        <div class="col-sm-12">
            <h4><!-- class="headline" -->
                {% if pages.pages[0].title is not empty %}
                    <span style="{{ bgcolor ~ textcolor }}">{{ pages.pages[0].title }}</span>
                {% endif %}
            </h4>
            {% if pages.pages[0].description is not empty %}
                <p style="{{ textcolor }}">{{ pages.pages[0].description }}</p>
            {% endif %}
            
            
            
            <div class="row">
                {% for page in pages.pages %}
                    {% for link in page.links %}    
                        <a href="{{ link.link }}">
                            <div class="col-sm-4" style="
                            border: 1px;
                            border-color: #c3c3c3;
                            border-style: solid;
                            margin: 10px;
                            background-color: #ffffff75;">
                                <div class="services" style="margin: 10px;">
                                    <div class="service-item">
                                        <i class="fa fa-gear"></i>
                                        <div class="service-desc">
                                            <h5 style="{{ textcolor }}">{{ link.icon }}</h5>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}    
                {% endfor %}    
            </div>
                
            
        </div>
    </div>

</div>